{% extends 'admin/base.html.twig' %}

{% block title %}New ChannelRefference{% endblock %}

{% block body %}
    <h1>Create new ChannelRefference</h1>
<b>Story:</b><h4>{{ story.title }}</h4>
    <strong>Category</strong><h5>{{ story.category.name }}</h5>
    {{ include('channel_refference/_form.html.twig') }}

    <a href="{{ path('channel_refference_index',{'storyId':storyId}) }}">back to list</a>
{% endblock %}
