
body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
    background: black;
}


.popup-btn a{
    padding-left: 10px;
    top:300px;
    position:fixed;
    right:-50px;
    z-index: 1000;
    transform: rotate(-90deg);
    background-color: red;
    padding:10px 20px 35px;
/*    height: 0px;*/
    background-color: #000;
    color:#fff;
}
.popup-btn a:hover{
    text-decoration: none;
    color:#fff;
}


.facebook-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    margin-bottom: 10px;
}
.facebook-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

/* category and search page css*/
