{% extends "user/base.html.twig" %}
{% block body %}
    <a href="{{ path('user_story_tag_create') }}" class="ui blue button">Create Tag</a>
    <table class=" table table-hover">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
        {% for t in tags %}
            <tr>
                <td>{{ t.id }}</td>
                <td>{{ t.name }}</td>
                <td>..</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}