{% extends "base.html.twig" %}
{% block body %}
    <div class="align-center col-sm-6 offset-12">
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" class="btn btn-success"/>
    {{ form_end(form) }}
    </div>
    {% endblock %}