{% extends "base.html.twig" %}
{% block body %}
    <div class="alert alert-danger">
    <h2>Sorry!!</h2>
    <p>
        Your account already acticated or given link is mismatched!
    </p>
    </div>
{% endblock %}
